{% extends "ProyectoPrincipalBundle:Principal:basedespacho.html.twig" %}
{%block contenido%} <span class="Titulo-Aplicacion"> DESPACHO TERRESTRE</span>
<span class="Titulo-Aplicacion" > Bandeja de &Oacute;rdenes</span>
<span class="Separador_Modulo"></span>
<div class="formulario">
	
{% include "ProyectoPrincipalBundle:Despacho:contenedorBandejaOrdenes.html.twig" %}
	
	<span class="Separador_Modulo"></span>
</br></br>

</div>

{%endblock%}