
	<div class="Tabla-Aplicacion">
		<div class="Tabla-Fondo" id="tablacabecera">
			<div class="Tabla-Elemento-Encabezado" style="width: 46px" >
				N
			</div>
			<div class="Tabla-Elemento-Encabezado" >
				Fecha
			</div>
			<div class="Tabla-Elemento-Encabezado" style="width: 157px">
				Cliente
			</div>
			<div class="Tabla-Elemento-Encabezado" style="width: 70px">
				Aprobar
			</div>
			<div class="Tabla-Elemento-Encabezado" style="width: 70px">
				Despachar
			</div>
			<div class="Tabla-Elemento-Encabezado" style="width: 70px">
				Ver
			</div>
			<div class="Tabla-Elemento-Encabezado" style="width: 70px">
				Eliminar
			</div>
		</div>
		<div  id="tablacontenidoordenes">
		{% include "ProyectoPrincipalBundle:Despacho:tablaBandejaOrdenes.html.twig" %}
		</div>
	</div>
	