{% extends "ProyectoPrincipalBundle:Principal:basedespacho.html.twig" %}
{%block contenido%} 
<span class="Titulo-Aplicacion"> DESPACHO TERRESTRE</span>
<span class="Titulo-Aplicacion" > Control de Saldo</span>
<span class="Separador_Modulo"></span>
<div class="cuadroformulario">
	<div class="unacolumna" >
		<div class="nombreinput">
			Cliente :
		</div>
		<div class="cuadroinput">
			<select name="select2" id="clienteguia" class="selectgrande" filtro="desactivado">
				<option value="0">-Seleccione-</option>
				{%for elemento in clientes%} 
				<option value="{{elemento.id}}">{{elemento.rif}}</option>
				{%endfor%}
			</select>
		</div>
	</div>
	<div class="unacolumna" >
		<div class="nombreinput">
			Orden :
		</div>
		<div class="cuadroinput">
			<select name="select2" id="ordendespachoguia" class="selectgrande">
				<option value="0">-Seleccione-</option>
				
			</select>
		</div>
	</div>
</div>
	<span class="Separador_Modulo"></span>
<div class="botonizquierdo" style="margin-left: 446px;clear:both">
	<div class="Principio-Boton"></div>
	<input type="button" class="Boton" value="Continuar" id="continuarcontrolsaldo" onclick="return false;">
	<div class="Final-Boton"></div>
</div>

	
<div class="loader" style="display: none;">
	<img id="loader" src="/gladys/imagenes/loader.gif" align="center" style="padding-top: 119px;display: block;margin-left: auto;margin-right: auto;">
</div>

{%endblock%}