{% extends "ProyectoPrincipalBundle:Principal:base.html.twig" %}
{%block contenido%} <!--<span class="Titulo-Aplicacion">Bienvenido:</span>	!-->
<span class="Separador_Modulo"> </span>
<span class="Titulo-Aplicacion" style="text-align: center;font-size: 23px;"> SU CUENTA HA SIDO DESACTIVADA </span>
<span class="Titulo-Aplicacion" style="text-align: center;font-size: 18px;"> En caso de seguir laborando en ENASAL comuniquese con el gerente operativo, para que rehabiliten su cuenta.</span>
{%endblock%} 