{% extends "ProyectoPrincipalBundle:Principal:base.html.twig" %}
{%block contenido%}
<p class="titular">
	{{titulo}}
</p>
<p class="subtitular">
	{{mensaje1}}
</p>
<p >
	{{mensaje2}}
</p>
{%endblock%} 