{% extends "ProyectoPrincipalBundle:Principal:base.html.twig" %}
{%block contenido%} 
<span class="Titulo-Aplicacion" style="text-align: center;">EMPRESA NACIONAL SALINERA (ENASAL)</span>
</br>
</br>
<center>
<img src="{{ asset('imagenes/objetivos.jpg') }}">
</center>
</br>
<span class="Titulo-Aplicacion">OBJETIVO DE LA EMPRESA</span>
<span class="Sub-Titulo-Aplicacion">Extracci&oacute;n, procesamiento y comercializacion de la sal, usando tecnolog&iacute;as existentes conexas a la actividad salinera para uso industrial y alimenticio.
	</span>
<span class="Titulo-Aplicacion">LOGROS ESPECIFICOS A DICIEMBRE 2011</span>
<span class="Sub-Titulo-Aplicacion">
	-La capacidad instalada del complejo paso del 0% al 60% de producci&oacute;n.
</span>
<span class="Sub-Titulo-Aplicacion">
	-Luego de la vaguada y mar de leva de diciembre 2010, se logr&oacute; recuperar la sal presente en la laguna madre, estimando una reserva de m&aacute;s de 800.000,00 T de sal.
</span>		
<span class="Sub-Titulo-Aplicacion">
- Adquisici&oacute;n de una nueva flota de equipos pesados para la producci&oacute;n.
</span>	
<span class="Sub-Titulo-Aplicacion">
- Se obtuvo la mejor cosecha de los &uacute;ltimos a&ntilde;os, teniendo 140.000 T de sal.
</span>	
<span class="Sub-Titulo-Aplicacion">
- Recuperaci&oacute;n total de la Unidad de Molienda (U-IV) y Laboratorio de CC con m&aacute;s de 4 a&ntilde;os sin servicio.
</span>		
<span class="Sub-Titulo-Aplicacion">
- Suministro de Cloruro de Sodio para el primer trimestre 2012, requerido por CRP, bajo el proceso N° 6.600.050.785.
</span>					
{%endblock%} 