
	<div class="Tabla-Aplicacion">
		<div class="Tabla-Fondo" id="tablacabecera">
			<div class="Tabla-Elemento-Encabezado" style="width: 46px" >
				N
			</div>
			<div class="Tabla-Elemento-Encabezado" >
				Fecha
			</div>
			<div class="Tabla-Elemento-Encabezado" style="width: 184px">
				Cliente
			</div>
			<div class="Tabla-Elemento-Encabezado" style="width: 40px">
				Aprob.
			</div>
			<div class="Tabla-Elemento-Encabezado" style="width: 40px">
				Desp.
			</div>
			<div class="Tabla-Elemento-Encabezado" style="width: 40px">
				Ver
			</div>
			<div class="Tabla-Elemento-Encabezado" style="width: 40px">
				Editar
			</div>
			<div class="Tabla-Elemento-Encabezado" style="width: 47px">
				Eliminar
			</div>
		</div>
		<div  id="tablacontenidoordenes">
		{% include "ProyectoPrincipalBundle:Ventas:tablaBandejaOrdenes.html.twig" %}
		</div>
	</div>
	