{% extends "ProyectoPrincipalBundle:Principal:baseproduccion.html.twig" %}

{%block contenido%} <span class="Titulo-Aplicacion" > ERROR </span>
<span class="Titulo-Aplicacion" > {{mensaje}} </span>
<span class="Separador_Modulo"></span>

{%endblock%} 